In [138]:
import pymysql

In [139]:
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="3473", #密码
    database="yiibaidb", #输入存在的数据库名
    charset="utf8"
)
cursor = conn.cursor()

In [140]:
sql = """
    CREATE TABLE IF NOT EXISTS tasks (
        `id`INT  AUTO_INCREMENT primary key,
        `name` CHAR(10) NOT NULL UNIQUE,
        `subject` CHAR(20) NOT NULL,
        `goal` TINYINT NOT NULL 
    )
"""
try:
    cursor.execute(sql)
except Exception as e:
    print(e)
    conn.rollback()

In [141]:
# 增加，instert
sql ="""
    insert into tasks(name,subject,goal)
    VALUES(%s,%s,%s)
"""
data=[
    ('king','math',99),
    ('Mike','Chinese',80),
    ('Jone','English',100)
] #数据输入
try:
    cursor.executemany(sql,data)
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [142]:
#查询 
sql = """
    SELECT * FROM tasks\
    WHERE goal >%d 
"""% (85) #查询分数大于85的学生
try:
    cursor.execute(sql)
    results=cursor.fetchall()
    print(results)
    for row in results:
        name = row[1]
        subject=row[2]
        goal=row[3]
        print("name=%s,subject=%s,goal=%d"%(name,subject,goal))
except Exception as e:
    print(e)
    print("not data")

((1, 'king', 'math', 99), (3, 'Jone', 'English', 100))
name=king,subject=math,goal=99
name=Jone,subject=English,goal=100

In [143]:
#改
sql="UPDATE tasks SET goal=100 WHERE name='%s'"%('Mike')
try:
    cursor.execute(sql)
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [144]:
#添加新列
sql="""
    alter table tasks 
    add column goal1 INT NOT NULL
    after subject 
"""
try:
    cursor.execute(sql)
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [145]:
#删除列
sql = """
    alter table tasks
    drop column goal1 
"""
try:
    cursor.execute(sql)
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [146]:
#删除  
sql = "DELETE FROM tasks WHERE goal<%s"%(100) #删除分数小于100
try:
    cursor.execute(sql)
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [147]:
#更改表名
sql = "alter table tasks rename to taskpro"
try:
    cursor.execute(sql)
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [149]:
#删除表内全部内容
sql = "truncate table taskpro"
try:
    cursor.execute(sql)
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [151]:
#删除数据表
sql ="DROP TABLE taskpro"
try:
    cursor.execute(sql)
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()